<h1 mat-dialog-title *ngIf="data?.title"><fa-icon class="mr-2" [icon]="faExclamationTriangle"></fa-icon> {{ data.title }}</h1>
<div mat-dialog-content>
  <p *ngIf="data?.description">{{ data.description }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>