mat-list-item {
  border-bottom: 1px solid #ced4da;
  &:last-of-type {
    border-bottom: none;
  }
}

mat-list {
    padding-top: 0;
}

.list-box {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}