<h2 class="d-flex justify-content-between align-content-center">
  <span><fa-icon [icon]="faTasks"></fa-icon> Lista zadań</span>
  <button mat-raised-button color="warn" [disabled]="listService.itemList.length == 0" (click)="dialogBeforeRemoveAll()"><fa-icon class="mr-2" [icon]="faTrashAlt"></fa-icon> Clear list</button>
</h2>

<div class="d-flex justify-content-center" *ngIf="listService.isLoading">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="position-relative list-box" *ngIf="!listService.isLoading">
  <mat-list>
    <app-item [listItemData]="item" *ngFor="let item of listService.itemList"></app-item>
    <mat-list-item *ngIf="listService.itemList.length == 0">Empty list, add new task :)</mat-list-item>
  </mat-list>
</div>
