<h2><fa-icon [icon]="faPlusSquare"></fa-icon> Add new task</h2>
<form [formGroup]="adderForm" (ngSubmit)="sendNewTask()">
  <div class="row">
    <div class="col-8">
      <input type="text" class="form-control mr-sm-2" placeholder="Name" formControlName="name">
    </div>
    <div class="col-4">
      <input type="text" class="form-control mr-sm-2" placeholder="Author" formControlName="author">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <button mat-raised-button color="primary" type="submit" [disabled]="!adderForm.valid">Add</button>
    </div>
  </div>
</form>