<mat-list-item *ngIf="listItemData">
  <div mat-list-icon *ngIf="listItemData.completed" (click)="toggleStatus(listItemData.completed, listItemData.id)">
    <fa-icon class="d-flex text-success toggle-button" [icon]="faCheckCircle"></fa-icon>
  </div>
  <div mat-list-icon *ngIf="!listItemData.completed" (click)="toggleStatus(listItemData.completed, listItemData.id)">
    <fa-icon class="d-flex text-muted toggle-button" [icon]="faCircle"></fa-icon>
  </div>
  <h4 class="task-item-title" mat-line>{{ listItemData.title }}</h4>
  <p class="text-muted mt-1 task-item-tags" mat-line>
    <span class="mr-2">
      <fa-icon class="text-muted" [icon]="faUser"></fa-icon>
      {{ listItemData.author }}
    </span>
    <span>
      <fa-icon class="text-muted" [icon]="faCalendarAlt"></fa-icon>
      {{ listItemData.updated_at | date:'HH:mm:ss' }}
    </span>
  </p>
  <div class="d-flex">
    <!-- <button class="mr-2" mat-raised-button color="primary" (click)="editDialog()"><fa-icon [icon]="faPenSquare"></fa-icon></button> -->
    <button mat-raised-button color="warn" (click)="deleteTask(listItemData.id)"><fa-icon [icon]="faTimes"></fa-icon></button>
  </div>
</mat-list-item>