div.mat-list-icon {
  position: relative;
  display: flex;
  width: 40px!important;
  height: 40px!important;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  fa-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}


mat-list-item .task-item-title {
  font-size: 18px;
}
  
.task-item-tags {
  span {
    font-size: 12px;
  }
}